@tailwind base;
@tailwind components;
@tailwind utilities;

.preview-active {
    background-color: #dcfce7;
    /* verde suave */
    border-bottom: 2px solid #22c55e;
    padding: 0 2px;
}

#tooltip {
    background-color: #f9fafb;
    border: 1px solid #d1d5db;
    padding: 6px 10px;
    border-radius: 6px;
    max-width: 320px;
}
